---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyDV9bUiD_7qLrOz4bTwDj1Riw4k4evuY58&latlng=37.811714,-122.25817699999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "281",
                       "short_name" : "281",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Lenox Avenue",
                       "short_name" : "Lenox Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Adams Point",
                       "short_name" : "Adams Point",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "l[...]
- request:
    method: get
    uri: http://mapgis.oaklandnet.com/ArcGIS/rest/services/OaklandStreets/GeocodeServer/findAddressCandidates?Street=281%20Lenox%20Ave&f=json&outFields=Loc_name&outSR%5Bwkid%5D=2227
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - "-704098243"
    body:
      encoding: ASCII-8BIT
      string: '{"spatialReference":{"wkid":2227},"candidates":[{"address":"281 LENOX
        AV","location":{"x":6053955.6942166388,"y":2122717.6854051203},"score":100,"attributes":{}},{"address":"282
        LENOX AV","location":{"x":6053995.76160869,"y":2122722.1353251338},"score":79,"attributes":{}},{"address":"301
        LENOX AV","location":{"x":6053951.9692246467,"y":2122611.8522530198},"score":68.480000000000004,"attributes":{}},{"address":"300
        LENOX AV","location":{"x":6053988.9637206793,"y":2122596.6400930136},"score":63.240000000000002,"attributes":{}}]}'
  recorded_at: Mon, 08 May 2017 22:21:11 GMT
- request:
    method: get
    uri: http://mapgis.oaklandnet.com/ArcGIS/rest/services/StreetSweepNEW/MapServer/identify?f=json&geometry=%7B%22x%22:6053955.694216639,%22y%22:2122717.6854051203,%22spatialReference%22:%7B%22wkid%22:2227%7D%7D&imageDisplay=1322,529,96&mapExtent=%7B%22xmin%22:6050955,%22ymin%22:2119717,%22xmax%22:6056955,%22ymax%22:2125717,%22spatialReference%22:%7B%22wkid%22:2227%7D%7D&returnGeometry=false&tolerance=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Etag:
      - "-1272156876"
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"layerId":0,"layerName":"StreetSweepingRoutes","value":"Lenox","displayFieldName":"NAME","attributes":{"OBJECTID":"2169","Shape":"Polyline","DYNAMAP_ID":"469172265","L_F_ADD":"200","L_T_ADD":"298","R_F_ADD":"201","R_T_ADD":"299","PREFIX":"","NAME":"Lenox","TYPE":"Ave","SUFFIX":"","FCC":"A41","POSTAL_L":"94610","POSTAL_R":"94610","ACC":"5","NAME_TYPE":"R","SHIELD":"","HWY_NUM":"","SEG_LEN":"0.0936","SPEED":"25","ONE_WAY":"","F_ZLEV":"0","T_ZLEV":"0","FT_COST":"0.22464","TF_COST":"0.22464","FT_DIR":"","TF_DIR":"","NAME_FLAG":"3","NOTES":"Null","ROUTE":"3B","DAY_ODD":"2nd
        and 4th Mon","TIME_ODD":"9:00AM-12:00PM","DAY_EVEN":"2nd and 4th Tues","TIME_EVEN":"9:00AM-12:00PM","MAPNO":"3B","DOUBLECK":"Null","SIDEOFSTREET":"Null","Shape_Length":"494.335355"}}]}'
  recorded_at: Mon, 08 May 2017 22:21:11 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC8b64e42d768f4f70906099b8a0d4fcf1/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B13303575740&To=%2B15107596248&Body=You%27re+parked+in+a+street+sweeping+zone%21
    headers:
      Authorization:
      - Basic QUM4YjY0ZTQyZDc2OGY0ZjcwOTA2MDk5YjhhMGQ0ZmNmMTo0MTcwNzFkZTdlZjMyYmExOTc0MWI5NTRjYWU3MWE2YQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.265'
      Twilio-Request-Id:
      - RQc93933c9e8534e9a8f16cf099e1844b2
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SMfcf07ccb28994009908eef634876f486", "date_created": "Mon,
        08 May 2017 22:21:12 +0000", "date_updated": "Mon, 08 May 2017 22:21:12 +0000",
        "date_sent": null, "account_sid": "AC8b64e42d768f4f70906099b8a0d4fcf1", "to":
        "+15107596248", "from": "+13303575740", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - You''re parked in a street sweeping
        zone!", "status": "queued", "num_segments": "1", "num_media": "0", "direction":
        "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/AC8b64e42d768f4f70906099b8a0d4fcf1/Messages/SMfcf07ccb28994009908eef634876f486.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/AC8b64e42d768f4f70906099b8a0d4fcf1/Messages/SMfcf07ccb28994009908eef634876f486/Media.json"}}'
  recorded_at: Mon, 08 May 2017 22:21:12 GMT
recorded_with: VCR 3.0.3
