---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyDV9bUiD_7qLrOz4bTwDj1Riw4k4evuY58&latlng=37.795976,-122.170223
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "12000",
                       "short_name" : "12000",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Campus Drive",
                       "short_name" : "Campus Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Skyline-Hillcrest Estates",
                       "short_name" : "Skyline-Hillcrest Estates",
                       "types" : [ "neighborhood", "political" ]
                    },
                   [...]
- request:
    method: get
    uri: http://mapgis.oaklandnet.com/ArcGIS/rest/services/OaklandStreets/GeocodeServer/findAddressCandidates?Street=12000%20Campus%20Dr&f=json&outFields=Loc_name&outSR%5Bwkid%5D=2227
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '1071442828'
    body:
      encoding: ASCII-8BIT
      string: '{"spatialReference":{"wkid":2227},"candidates":[{"address":"12000 CAMPUS
        DR","location":{"x":6078550.8446395546,"y":2116242.8490470946},"score":100,"attributes":{}},{"address":"12001
        CAMPUS DR","location":{"x":6078557.0530235618,"y":2116203.3337830603},"score":79,"attributes":{}},{"address":"11998
        CAMPUS DR","location":{"x":6078468.0003514737,"y":2116224.3610470742},"score":68.5,"attributes":{}},{"address":"12500
        CAMPUS DR","location":{"x":6079804.2395847142,"y":2114890.3291098326},"score":68.269999999999996,"attributes":{}},{"address":"12548
        CAMPUS DR","location":{"x":6079749.4804806709,"y":2114731.3366616815},"score":68[...]
- request:
    method: get
    uri: http://mapgis.oaklandnet.com/ArcGIS/rest/services/StreetSweepNEW/MapServer/identify?f=json&geometry=%7B%22x%22:6078550.844639555,%22y%22:2116242.8490470946,%22spatialReference%22:%7B%22wkid%22:2227%7D%7D&imageDisplay=1322,529,96&mapExtent=%7B%22xmin%22:6075550,%22ymin%22:2113242,%22xmax%22:6081550,%22ymax%22:2119242,%22spatialReference%22:%7B%22wkid%22:2227%7D%7D&returnGeometry=false&tolerance=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Etag:
      - "-1743985047"
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"layerId":0,"layerName":"StreetSweepingRoutes","value":"Campus","displayFieldName":"NAME","attributes":{"OBJECTID":"6743","Shape":"Polyline","DYNAMAP_ID":"515750369","L_F_ADD":"12000","L_T_ADD":"12030","R_F_ADD":"12001","R_T_ADD":"12031","PREFIX":"","NAME":"Campus","TYPE":"Dr","SUFFIX":"","FCC":"A41","POSTAL_L":"94619","POSTAL_R":"94619","ACC":"4","NAME_TYPE":"R","SHIELD":"","HWY_NUM":"","SEG_LEN":"0.1217","SPEED":"25","ONE_WAY":"","F_ZLEV":"0","T_ZLEV":"0","FT_COST":"0.29225","TF_COST":"0.29225","FT_DIR":"","TF_DIR":"","NAME_FLAG":"3","NOTES":"Null","ROUTE":"D","DAY_ODD":"No
        Sweeping (Uncontrol Condition)","TIME_ODD":"NA","DAY_EVEN":"No Sweeping (Uncontrol
        Condition)","TIME_EVEN":"NA","MAPNO":"Null","DOUBLECK":"Null","SIDEOFSTREET":"Null","Shape_Length":"644.531957"}},{"layerId":0,"layerName":"StreetSweepingRoutes","value":"Driveway","displayFieldName":"NAME","attributes":{"OBJECTID":"18301","Shape":"Polyline","DYNAMAP_ID":"499408514","L_F_ADD":"","L_T_ADD":"","R_F_ADD":"","R_T_ADD":"","PREFIX":"","NAME":"Driveway","TYPE":"","SUFFIX":"","FCC":"A74","POSTAL_L":"94619","POSTAL_R":"94619","ACC":"5","NAME_TYPE":"R","SHIELD":"","HWY_NUM":"","SEG_LEN":"0.1289","SPEED":"15","ONE_WAY":"","F_ZLEV":"0","T_ZLEV":"0","FT_COST":"0.51587","TF_COST":"0.51587","FT_DIR":"","TF_DIR":"","NAME_FLAG":"1","NOTES":"Null","ROUTE":"D","DAY_ODD":"No
        Sweeping (Uncontrol Condition)","TIME_ODD":"NA","DAY_EVEN":"No Sweeping (Uncontrol
        Condition)","TIME_EVEN":"NA","MAPNO":"Null","DOUBLECK":"Null","SIDEOFSTREET":"Null","Shape_Length":"682.088215"}}]}'
  recorded_at: Mon, 08 May 2017 22:21:47 GMT
recorded_with: VCR 3.0.3
