---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyDV9bUiD_7qLrOz4bTwDj1Riw4k4evuY58&latlng=37.776164,-122.1962782
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2625",
                       "short_name" : "2625",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Kingsland Avenue",
                       "short_name" : "Kingsland Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Maxwell Park",
                       "short_name" : "Maxwell Park",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
               [...]
- request:
    method: get
    uri: http://mapgis.oaklandnet.com/ArcGIS/rest/services/OaklandStreets/GeocodeServer/findAddressCandidates?Street=2625%20Kingsland%20Ave&f=json&outFields=Loc_name&outSR%5Bwkid%5D=2227
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '594260344'
    body:
      encoding: ASCII-8BIT
      string: '{"spatialReference":{"wkid":2227},"candidates":[{"address":"2625 KINGSLAND
        AV","location":{"x":6071457.0461049378,"y":2109465.320336774},"score":100,"attributes":{}},{"address":"2626
        KINGSLAND AV","location":{"x":6071492.0457209796,"y":2109445.9138727635},"score":79,"attributes":{}},{"address":"2629
        KINGSLAND AV","location":{"x":6071471.9353209585,"y":2109490.6618408114},"score":68.5,"attributes":{}},{"address":"2649
        KINGSLAND AV","location":{"x":6071520.4980090111,"y":2109651.7078569531},"score":68.480000000000004,"attributes":{}},{"address":"2599
        KINGSLAND AV","location":{"x":6071296.0458488017,"y":2109233.2131365687},"s[...]
- request:
    method: get
    uri: http://mapgis.oaklandnet.com/ArcGIS/rest/services/StreetSweepNEW/MapServer/identify?f=json&geometry=%7B%22x%22:6071457.046104938,%22y%22:2109465.320336774,%22spatialReference%22:%7B%22wkid%22:2227%7D%7D&imageDisplay=1322,529,96&mapExtent=%7B%22xmin%22:6068457,%22ymin%22:2106465,%22xmax%22:6074457,%22ymax%22:2112465,%22spatialReference%22:%7B%22wkid%22:2227%7D%7D&returnGeometry=false&tolerance=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Etag:
      - '198388983'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"layerId":0,"layerName":"StreetSweepingRoutes","value":"Kingsland","displayFieldName":"NAME","attributes":{"OBJECTID":"5613","Shape":"Polyline","DYNAMAP_ID":"513544368","L_F_ADD":"2625","L_T_ADD":"2633","R_F_ADD":"2640","R_T_ADD":"2698","PREFIX":"","NAME":"Kingsland","TYPE":"Ave","SUFFIX":"","FCC":"A41","POSTAL_L":"94619","POSTAL_R":"94619","ACC":"5","NAME_TYPE":"R","SHIELD":"","HWY_NUM":"","SEG_LEN":"0.0099","SPEED":"25","ONE_WAY":"","F_ZLEV":"0","T_ZLEV":"0","FT_COST":"0.02377","TF_COST":"0.02377","FT_DIR":"","TF_DIR":"","NAME_FLAG":"3","NOTES":"Null","ROUTE":"5B","DAY_ODD":"1st
        and 3rd Thurs","TIME_ODD":"9:00AM-12:00PM","DAY_EVEN":"1st and 3rd Wed","TIME_EVEN":"9:00AM-12:00PM","MAPNO":"5B","DOUBLECK":"Null","SIDEOFSTREET":"Null","Shape_Length":"52.264287"}},{"layerId":0,"layerName":"StreetSweepingRoutes","value":"El
        Camile","displayFieldName":"NAME","attributes":{"OBJECTID":"5619","Shape":"Polyline","DYNAMAP_ID":"513544375","L_F_ADD":"5300","L_T_ADD":"5318","R_F_ADD":"5301","R_T_ADD":"5319","PREFIX":"","NAME":"El
        Camile","TYPE":"Ave","SUFFIX":"","FCC":"A41","POSTAL_L":"94619","POSTAL_R":"94619","ACC":"5","NAME_TYPE":"R","SHIELD":"","HWY_NUM":"","SEG_LEN":"0.0184","SPEED":"25","ONE_WAY":"TF","F_ZLEV":"0","T_ZLEV":"0","F[...]
